@use "./func/media";

.banner-wrapper {
  position: relative;

  .banner-img, .banner-img>img {
    will-change: contents;
    width: 100%;
    display: block;

    @media (max-width: 1600px) {
      height: 584px;
      object-fit: cover;
    }

    @include media.md {
      height: calc(calc(100vw - 0px) * 0.363);
      width: 100%;
    }
  }

  .motto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);

    @include media.md {
      position: relative;
      background-color: rgb(223, 233, 223);
      color: #272727;
    }

    .glowne {
      font-size: 4em;
      font-family: var(--font-1), serif;
      text-align: center;
      padding-bottom: 1em;

      @include media.max(1300px) {
        font-size: 3em;
        padding-bottom: .5em;
      }
      @include media.sm {
        font-size: 2em;
        padding-bottom: .5em;
      }
    }
    .dodatkowe {
      font-size: 2em;
      font-family: var(--font-2), serif;
      text-align: center;

      @include media.max(1300px) {
        font-size: 1em;
      }
    }
    .przyciski {
      display: flex;
      align-items: center;

      button {

        border: solid 2px #9bbd9b;
        border-radius: 10px;
        padding: .5em 1em;
        color: white;
        font-size: 1.2em;
        margin: 1em .5em;
        cursor: pointer;
        transition: background-color .2s;
        transform: translateY(-5px);

        &.pelny {
          background-color: #9bbd9b;
        }
        &.pusty {
          background-color: rgba(0, 0, 0, 0.25);
        }
        &:hover {
          background-color: #9bbd9b80;
        }
      }
    }
  }
}
