@use "./func/media";

$color: #f7f7f7;
$color-hover: white;
$background-color: #537953;
$color-podkreslenie-dost: rgba(255, 255, 255, 0.2);

.belka-menu {
  box-sizing: border-box;
  display: flex;
  border-radius: 10px;
  background-color: $background-color;
  color: $color;
  font-family: var(--font-2), serif;
  font-weight: 600;
  padding: 1em;
  height: 60px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  bottom: -30px;
  left: 10%;
  z-index: 1;

  .margines {
    flex-grow: 1;
  }
  .kreska {
    width: 1px;
    background-color: currentColor;
  }

  .social {
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    top: -6px;
    position: relative;
    //width: 1.5em;
    height: 3.5em;
  }

  .element {
    padding: 0 .5em;
    a {
      cursor: pointer;
    }

    &:hover {
      color: $color-hover;
      .podkreslenie {
        background-color: $color-hover;
      }
    }

    img.ico {
      color: $color;
    }

    &.dostepne {
      .podkreslenie {
        //margin-left: auto;
        display: none;
      }
      &:hover {
        .podkreslenie {
          display: block;
          background-color: $color-podkreslenie-dost;
          animation: podkreslenie-in .1s ease-out;
        }
      }
    }

    .podkreslenie {
      height: 5px;
      background-color: $color;
      animation: podkreslenie-in .3s ease-out;
    }
  }

  @keyframes podkreslenie-in {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes podkreslenie-dost-in {
    0% {
      margin-top: 5px;
      height: 0;
    }
    100% {
      margin-top: 0;
      height: 5px;
    }
  }

  .panel-menu {
    background-color: #668c66;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    color: $color;

    .pozycja-panelu-menu {
      margin: .2em 0;
      padding: .5em 1em;
      border-radius: 8px;
      &:hover {
        color: $color-hover;
        background-color: rgba(255, 255, 255, .2);
      }
    }
  }

}
